<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <div class="text-center mt-5">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <h3 class="text-center">Add a review about {{ dealer.full_name }}</h3>
        <!--Add review form here -->
        <div class="container">
            <form action="{% url 'djangoapp:add_review' dealer.id %}" method="post">        
                {% csrf_token %}
                <div class="form-group">
                    <label for="content" class="h5">Enter the review content</label>
                    <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                    <label class="form-check-label" for="purchasecheck">
                        <strong>Has purchased the car from {{ dealer.full_name }}?</strong>
                        (select purchased car information below if checked)
                    </label>
                </div>
                <div class="form-group">
                    <label for="car" class="h5">Select Your Car (Model-Make-Year): </label>
                    <select name="car" id="car" class="form-select">                        
                        <option value="">--------</option>
                        {% for car in cars %}
                            <option value={{car.uid}}>{{car.name}}-{{car.car_make.name}}-{{ car.year|date:"Y" }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="purchasedate" class="h5">Select Your Purchase Date (mm/dd/yyyy): </label>
                    <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
    </script>
</html>